<div id="cartDrawerDiv" class="fixed top-0 right-0 h-full w-full bg-black/50 max-w-[0%] opacity-0 duration-300 ease-in-out">
    <div id="cartWindow" class="flex flex-col absolute top-0 right-0 h-full w-full bg-white max-w-[20%] z-20">
        <div class="flex flex-row justify-between bg-black text-white py-4 px-12 gap-4">
            <h1 class="text-4xl font-light">Cart</h1>
            <a href="/account/loginSignup.html" class="border text-center py-2 px-4 rounded hover:bg-gray-800">Login/Signup</a>
            <button id="cartDrawerExit" class="text-lg font-bold text-gray-400 absolute top-6 right-4 hover:text-gray-500">X</button>
        </div>
        <div class="flex flex-col justify-center items-center h-full gap-4">
            <p>Cart is empty</p>
            <a href="/index.html" class="border border-black p-4 hover:bg-gray-100">Continue Shopping</a>
        </div>
        <div class="absolute bottom-0 right-0 flex flex-col justify-center bg-gray-300 text-white pb-2 w-full">
            <div class="flex flex-col bg-gray-200 w-full px-4 text-black py-3 gap-2">
                <div class="flex flex-row justify-between">
                    <p>Apply Promo Code</p>
                    <button id="codeInputButton" class="font-bold text-xl flex justify-center items-center">^</button>
                </div>
                <input id="promoCodeInput" placeholder="Enter Code" class="px-2 py-2 hidden w-full"></input>
            </div>
            <div class="flex flex-row justify-between py-2 text-black font-bold tracking-tighter px-4 ">
                <p>Total:</p>
                <p>$0.00</p>
            </div>
            <div class="px-4 ">
                <button class="text-bold text-xl tracking-tight w-full py-2 bg-black text-white hover:text-gray-300"><i class="fas fa-lock mr-2"></i>SECURE CHECKOUT</button>
            </div>
        </div>
    </div>
</div>