<footer class="flex flex-col border-t-2 bg-white">
    <div class="flex justify-center py-6">
        <a href="/index.html"><img src="/images/logo.png" class="h-16 w-16 rounded-xl"></a>
    </div>
    <div class="flex flex-row justify-center gap-32 pb-8">
        <div class="flex flex-col">
            <h1 class="pb-4 font-semibold">GET HELP</h1>
            <ul class="flex flex-col gap-2">
                <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Help Desk</a></li>
                <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Contact Us</a></li>
                <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Order History</a></li>
                <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Track Order</a></li>
                <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Change Delivery Options</a>
                </li>
                <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Delivery & Assitance</a></li>
            </ul>
        </div>
        <div class="flex flex-col">
            <h1 class="pb-4 font-semibold">COMPANY</h1>
            <ul class="flex flex-col gap-2">
                <li class="hover:text-blue-500"><a class="pointer-events-none" href="">About Us</a></li>
                <li class="hover:text-blue-500"><a class="pointer-events-none" href="">News</a></li>
                <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Careers</a></li>
                <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Investors</a></li>
                <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Sustainability</a></li>
            </ul>
        </div>
        <div class="flex flex-col">
            <h1 class="pb-4 font-semibold">NEWS & EVENTS</h1>
            <ul class="flex flex-col gap-2">
                <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Newsroom</a></li>
                <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Events</a></li>
                <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Media Library</a></li>
            </ul>
        </div>
        <div class="flex flex-col">
            <h1 class="pb-4 font-semibold">CUSTOM CATEGORIES</h1>
            <ul class="flex flex-col gap-2">
                <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Specials</a></li>
                <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Bargain Bin</a></li>
                <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Gift Vouchers</a></li>
                <li class="hover:text-blue-500"><a class="pointer-events-none" href="">New Prodcuts</a></li>
                <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Featured Products</a></li>
            </ul>
        </div>
    </div>
    <div class="py-8 border bg-gray-700 text-white">
        <ul class="flex flex-row gap-8 justify-center">
            <li>© 2025 Company, Inc. All rights reserved</li>
            <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Terms of Use</a></li>
            <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Terms of Sale</a></li>
            <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Privacy & Cookie Policy</a></li>
        </ul>
    </div>
</footer>