<div class="w-full bg-gray-700 grid grid-cols-5 py-2 px-32 text-white">
    <div></div>
    <div class="flex overflow-hidden justify-center col-span-3 text-[13px] ">
        <div id="infoSlider" class="flex w-full transition-transform duration-500">
            <div class="text-center min-w-full">Welcome to our store!</div>
            <div class="text-center min-w-full">Free shipping on orders over $100!</div>
            <div class="text-center min-w-full">New arrivals are here!</div>

            <!-- Cloned for Carousel View -->
            <div class="text-center min-w-full">Welcome to our store!</div>
        </div>
    </div>
    <nav class="flex justify-end">
        <ul class="flex flex-row gap-5 text-[13px]">
            <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Find a Store </a></li>
            <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Help</a></li>
            <li class="hover:text-blue-500"><a class="pointer-events-none" href="">Register</a> | <a
                    class="pointer-events-none" href="">Log
                    In</a></li>
        </ul>
    </nav>
</div>
<div class="w-full bg-white grid grid-cols-5 px-32 border-y shadow">
    <div class="flex items-center">
        <a href="index.html"><img src="/images/logo.png" class="h-16 w-16 rounded-xl"></a>
    </div>
    <nav class="flex col-span-3 justify-center text-xl py-5">
        <ul class="flex flex-row gap-14">
            <li class="border-b-2 border-white hover:border-black"><a href="new.html">New!</a></li>
            <li class="border-b-2 border-white hover:border-black"><a href="computers.html">Computers</a></li>
            <li class="border-b-2 border-white hover:border-black"><a href="mobile.html">Mobile</a></li>
            <li class="border-b-2 border-white hover:border-black"><a href="accessories.html">Accessories</a></li>
            <li class="border-b-2 border-white hover:border-black"><a href="sale.html">Sale!</a></li>
        </ul>
    </nav>
    <div class="flex justify-end gap-3 py-5">
        <input class="border rounded p-1" placeholder="🔍 Search" />
        <button
            class="pointer-events-none rounded px-4 py-1 bg-blue-600 hover:bg-blue-700 transition duration-300 text-white">Search</button>
        <i class="fas fa-shopping-cart text-gray-700 text-2xl"></i>
    </div>
</div>
